@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    height: 80px;
    display: flex;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

h2 {
    font-size: 32px;
    margin-bottom: 32px;
    text-align: center;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button:active {
    transform: translateY(1px);
}

.btn {
    background-color: #4aa584;
    color: white;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
}

.logo {
    width: 160px;
}

.green {
    color: #4aa584;
}

/*

    NAV

*/

.nav__container {
    width: 100vw;
    max-width: 1200px;
    display: flex;
    padding: 0 24px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: #4aa584;
    font-weight: bold;
    padding: 8px;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary {
    border: 2px solid #4aa584;
    border-radius: 4px;
}

.nav__link--primary:hover {
    text-decoration: none;
}

.btn__menu {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    color: #4aa584;
    display: none;
}

.menu__backdrop {
    position: absolute;
    background-color: #242424;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    padding: 32px 0;
}

.menu__link {
    color: white;
    font-size: 40px;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: white;
}

#landing {
    background-color: rgba(115, 66, 214, 0.1)

}

/*

    BOOKS

*/

#all__books {
    background-color: rgba(115, 66, 214, 0.1);
}


.books {
    display: flex;
    flex-wrap: wrap;
}

.book {
    width: 25%;
    padding: 24px;
}

.book__img {
    max-height: 380px;
    width: 100%;
    transition: all 300ms ease;
    cursor: not-allowed;
}

.book__img--wrapper {
    margin-bottom: 8px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
}

.book:hover .book__img {
    transform: scale(1.03);
}

.book__title {
    font-size: 20px;
    margin-bottom: 8px;
}

.book__title:hover {
    text-decoration: underline;
    cursor: not-allowed;
}

.book__ratings {
    margin-bottom: 8px;
    color: #fabf2a;
}

.book__price--normal {
    text-decoration: line-through;
    padding-right: 6px;
    color: #bfbfbf;
}


/*

FOOTER

*/

footer {
    padding: 2vh 0;
    background-color: #242424;
}

.footer__logo {
    display: flex;
}

.footer__logo--img {
    width: 160px;
    filter: grayscale(1) invert(1);
}

.footer__link,
.footer__copyright {
    color: #fff;
}

.footer__list {
    margin: 20px 0 24px 0;
}

.footer__link {
    padding: 0 8px;
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 768px) {
    button {
        font-size: 18px;
    }

    h2 {
        font-size: 26px;
    }

    .book {
        width: 50%;
    }
}

@media (max-width: 550px) {
    .nav__links {
        display: none;
    }

    .btn__menu {
        display: block;
    }
}